<!DOCTYPE html>
<html ng-app="erpApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Industry</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="fixed skin-green">
    <div class="wrapper">
        @Html.Partial("_MainHeaderPartial")


        <!-- Left side column. contains the sidebar -->
        <div class="main-sidebar">
            <div class="sidebar">
                @Html.Partial("_LeftMenu")
            </div>
        </div>

        <section class="content-header">
            @RenderSection("ContentHeader", required: false)
        </section>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Версия</b> 1.0
            </div>
            <strong> @DateTime.Now.Year <a href="http://www.industry.ru">Industry</a>.</strong> &copy; All rights reserved.
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", required: false)
</body>
</html>
